html
body {
  background-image: url("quimicafoto.png");
  background-size: cover;
}
h1 {
  font-family : " Comic Sans " ;
  font-weight : normal ;
  color : black;
  font-size: 25px;
}
header li {
  font-size: 30px;
  color: black;
  display: inline-block;
  font-family: " Comic Sans " ;
  padding: 4px;
  margin: 0 1em;
  display: inline-block;
  background-color: white;
}
#logotipo {
  float: center;
  width: 150px;
  height: 150px;
  position: relative; left: 500px; top: -10px;
  background-repeat: no-repeat;
}
#flutli {
  float: right;
  border-left: 2px solid black;
  border: 1px solid black;
  border-bottom: 2px solid black;
  font-size: 20px;
  padding: 5px;
  position: relative; left: 10px; top: 30px;
  background-color: white;
}
#tituloprincipal {
  float: right;
}
article h1 {
  position: absolute;
  right: 900px;
  font-size: 40px;
}
